{% extends "base.html" %} 
{% load static %}


{% block content %}
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        
        <div id="kt_app_content" class="app-content">
            <div class="card card-flush">
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                    <div class="card-title">
                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                            
                            <div class="fv-row mb-8">
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                    <span class="card-label fw-bold fs-2 text-grey-800">Plannings</span>
                            
                                    </span>
                                </label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisir un planning</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>

                            <div class="fv-row mb-8">
                                <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                    <span class="card-label fw-bold fs-2 text-grey-800">Salles</span>
                            
                                    </span>
                                </label>
                                <select class="form-select" aria-label="Default select example">
                                    <option selected>Choisir une salle</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                           
                            
                        </div>
                    </div>
                  



                  



                     

                            
                            
                         
						
					</div>


                </div>
                
              
            </div>
            
        </div>
    </div>

</div>

{% endblock content %}