{% extends "base.html" %} 
{% load static %}

{% block content %}

<div class="row g-5 g-xl-10 mb-xl-10" id="table_board">
    <div class="col-md-6 ">
        <div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center border-0 h-md-50 mb-5 mb-xl-10" style="background-color: #080655">
            <div class="card-header pt-5">
                <div class="card-title d-flex flex-column">
                    <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">Chiffre D'affaire Global</span>
                    <span class="fs-2hx fw-bold text-white me-2 lh-2 ls-n2">200</span>
                </div>
            </div>
        </div>
        <div class="card card-flush bgi-no-repeat bgi-size-contain bgi-position-x-center border-0 h-md-50 mb-5 mb-xl-10" style="background-color: #FFC0CB">
            <div class="card-header pt-5">
                <div class="card-title d-flex flex-column">
                    <span class="fs-2hx fw-bold text-white me-2 lh-1 ls-n2">Total dattes</span>
                    <span class="fs-2hx fw-bold text-white me-2 lh-2 ls-n2">10</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 " >
        <div class="card card-flush h-md-50 mb-5 mb-xl-10" style="background-color: #009999">
            <div class="card-header pt-5">
                <div class="card-title d-flex flex-column">
                    <div class="d-flex align-items-center">
                    </div>
                    <span class="text-white lh-1 fw-bold  fs-2hx ">Total Dépenses</span>
                    <span class="text-white lh-2 fw-bold  fs-2hx ">80</span>
                </div>
            </div>
            <div class="card-body pt-2 pb-4 d-flex flex-wrap align-items-center">
                <div class="d-flex flex-center me-5 pt-2">
                </div>
                <div class="d-flex flex-column content-justify-center flex-row-fluid">
                </div>
            </div>
        </div>
        <div class="card card-flush h-lg-50" style="background-color: #ff9999"  >
            <!--begin::Header-->

            
            <div class="card-header pt-5 flex-column">
                <!--begin::Title-->
                <h3 class="text-white lh-1 fw-bold fs-2hx lh-2 ">Total Adherants</h3>
                <h3 class="text-white lh-2 fw-bold fs-2hx lh-2 ">125</h3>
               
            

                <!--end::Title-->
                <!--begin::Toolbar-->
                
                <!--end::Toolbar-->
            </div>
         
        </div>
        
      
        
    </div>
    <!--end::Col-->
    <!--begin::Col-->
   
    <!--end::Col-->
</div>

<div id="kt_app_content" class="app-content">
    <!--begin::Row-->
    
    <div class="row" >
        <div class="col-sm-4"  >
            <div class="card" >
                <div class="card-body">
                    <div class="card card-flush" style="background-color: #F6E5CA">
                        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                            <div class="card-title">
                                <div class="d-flex align-items-center position-relative my-1">
                                    </h3 class="card-title">Transactions du jour</h3>
                                </div>
                                <div id="kt_ecommerce_report_sales_export" class="d-none"></div>
                            </div>
                        
                          
                        </div>
                        <div class="card-body pt-0">
                        
                            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_report_sales_table">
                                <thead>
                                    <tr class="text-start text-gray-900 fw-bold fs-7 text-uppercase gs-0">
                                        <th >Montant</th>
                                        <th >Type</th>
                                        <th >Dettes</th>
                                     
                                        
                                    </tr>
                                </thead>
                                <tbody class="fw-semibold text-gray-900">
                                    
                                
                                    <tr>
                                        <td>2000</td>
                                        <td >yousra</td>
                                        <td >123000</td>
                                    
                                    </tr>
                                
                                </tbody>
                            </table>
                            <div class="menu-item px-3">
                                <div class="menu-content px-3 py-3">
                                    <a class="bi bi-caret-right-fill btn btn-primary btn-sm px-4 " href="#"> Transactions</a>
                                </div>
                        </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" >
                <div class="card-body" >
                    <div class="card card-flush"  style="background-color: #F3D6EF">
                        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                            <div class="card-title">
                                <div class="d-flex align-items-center position-relative my-1">
                                    </h3 class="card-title">Présences par salle</h3>
                                </div>
                                <div id="kt_ecommerce_report_sales_export" class="d-none"></div>
                            </div>
                        
                          
                        </div>
                        <div class="card-body pt-0">
                        
                            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_report_sales_table">
                                <thead>
                                    <tr class="text-start text-gray-900 fw-bold fs-7 text-uppercase gs-0">
                                        <th class="min-w-100px">Salle</th>
                                        <th class="text-end min-w-100px">Présences</th>
                                       
                                     
                                        
                                    </tr>
                                </thead>
                                <tbody class="fw-semibold text-gray-900">
                                    
                                
                                    <tr>
                                        <td>2000</td>
                                        <td class="text-end pe-0">yousra</td>
                                      
                                    
                                    </tr>
                                
                                </tbody>
                            </table>
                            <div class="menu-item px-3">
                                <div class="menu-content px-3 py-3">
                                    <a class="bi bi-caret-right-fill btn btn-primary btn-sm px-4 " href="#"> Présences</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="col-sm-4" >
            <div class="card" >
                <div class="card-body">
                    <div class="card card-flush" style="background-color: #BFDDE3" >
                        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                            <div class="card-title">
                                <div class="d-flex align-items-center position-relative my-1">
                                    </h3 class="card-title">Actuellement en salle</h3>
                                </div>
                                <div id="kt_ecommerce_report_sales_export" class="d-none"></div>
                            </div>
                        
                          
                        </div>
                        <div class="card-body pt-0">
                        
                            <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_report_sales_table">
                                <thead>
                                    <tr class="text-start text-gray-900 fw-bold fs-7 text-uppercase gs-0">
                                        <th class="min-w-50px">ID</th>
                                        <th class="text-end min-w-75px">Nom</th>
                                        <th class="text-end min-w-75px">Activité</th>
                                        <th class="text-end min-w-75px">Dettes</th>
                                     
                                        
                                    </tr>
                                </thead>
                                <tbody class="fw-semibold text-gray-900">
                                    
                                
                                    <tr>
                                        <td>2000</td>
                                        <td class="text-end pe-0">yousra</td>
                                        <td class="text-end pe-0">123000</td>
                                        <td class="text-end pe-0">123000</td>
                                    
                                    </tr>
                                
                                </tbody>
                            </table>
                            <div class="menu-item px-3">
                                <div class="menu-content px-3 py-3">
                                    <a class="bi bi-caret-right-fill btn btn-primary btn-sm px-4 " href="#"> Présences</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>

</div>






{% endblock content %}

