{% load i18n %}
{% load widget_tweaks %}
{% csrf_token %}

<div class="modal-body scroll-y mx-5 mx-xl-15 mb-7">
    <form 
        id="sg_create_store_form" 
        class="form"  
        {% if form.instance.id %}
        hx-post="{% url 'core:TypeAbonnementUpdateView' form.instance.id %}" 
        {% else %} hx-post="{% url 'core:TypeAbonnementCreateView' %}"
        {% endif %}
        hx-target="#kt_modal_content"
        novalidate 
    >
        {% if form.instance.id  %}
            <div class="mb-13 text-center">
                <h1 class="mb-3">{% trans "Modifier abonnement" %}</h1>
            </div>
        {% else %}
            <div class="mb-13 text-center">
                <h1 class="mb-3">{% trans "Creer un nouvel abonnement" %}</h1>
            </div>
        {% endif %}

        {% with WIDGET_ERROR_CLASS='is-invalid' %}         
        {% for field in form %}
            {% if field.name == "salles" %}
                <div class="d-flex flex-stack mb-8 ">
                    <div class="me-5">
                        <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                            <span {% if field.field.required %}class="required"{% endif %}>{{ field.label }}</span>
                        </label>
                    </div>
                    {% render_field form.salles class="form-select form-select-solid" data-control="select2" data-close-on-select="false" data-placeholder="Select one or more" data-allow-clear="true" multiple="multiple" %}
                    {% if field.errors %}
                        <span class="form-check-label fw-semibold text-danger">{{ field.errors }}</span>
                    {% endif %}
                </div>
            {% else %}
                <div class="d-flex flex-column mb-8 fv-row">
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span {% if field.field.required %}class="required"{% endif %}>{{ field.label }}</span>
                    </label>
                    {% render_field field class='form-control' %}
                    {% if field.errors %}
                        <span class="form-check-label fw-semibold text-danger">{{ field.errors }}</span>
                    {% else %}
                        {{ field.help_text }}
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
    {% endwith %}       
        <div class="text-center">   
            <button type="reset" id="sg_create_store_form" class="btn btn-light me-3" data-bs-dismiss="modal">{% trans "Annulé" %}</button>
            <button type="submit" class="btn btn-primary">{% trans "Confirmer" %}</button>
            {% if form.instance.id %}  
                {% include 'popups/delete_model.html' with object=form.instance %}
            {% endif %}
        </div>
    </form>
</div>

<script>
	document.addEventListener('htmx:afterOnLoad', function(event) {
        if (event.detail.target.id === 'kt_modal_content') {
            document.querySelector('#PlanningTable').dispatchEvent(new CustomEvent('refresh_table'));
        }
    });
    
</script>
