{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
{% load render_table from django_tables2 %}
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
        <div class="card card-flush">
            <div class="card-header align-items-center py-0 gap-2 gap-md-5">
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                        <a
                            type="button"
                            class="btn btn-success btn-sm"
                            href="{% url 'core:open_salle' %}"
                        >  
                            <i class="ki-exit-up ">Ouvrir la salle</i>
                            <img src="{% static 'images/open.png' %}" style="width: 30px; height: 30px; margin-right: 5px;">
                        </a>	
                    </div>
                    <div id="kt_ecommerce_report_sales_export" class="d-none"></div>
                </div>
                <div class="card-toolbar flex-row-fluid justify-content-end ">
                    <a
                        type="button"
                        class="btn btn-danger btn-sm"
                        href="{% url 'core:close_salle' %}"
                    >  
                        <i class="ki-exit-up ">Fermer la salle</i>
                        <img src="{% static 'images/close.png' %}" style="width: 30px; height: 30px; margin-right: 5px;">
                    </a>	
                </div>
            </div>
            <div class="row g-4 mb-4">
                <!-- Planning Section -->
                <div class="col-sm-6">
                    <div class="card h-100 shadow-sm" >
                        <div class="card-header bg-lightblue text-dark align-items-center py-3 "  >
                            <h1 class="card-title">Planning</h1>
                            <div class="card-toolbar d-flex justify-content-end">
                                {% if perms.planning.add_planning %}
                                    <a href="#" 
                                    class="btn btn-sm  btn-primary btn-radius color-container"
                                    data-bs-toggle="modal"
                                    data-bs-target="#kt_modal"
                                    hx-get="{% url 'core:planning_create_view' %}"
                                    hx-target="#kt_modal_content"
                                    hx-swap="innerHTML">
                                        {% trans 'Ajouter' %}
                                    </a>
                                {% endif %}
                            </div>  
                        </div> 
                        {% comment %} {% if perms.planning.view_planning %} {% endcomment %}
                        <div class="card-body p-3">
                            <div id="PlanningTable" class="table-responsive" hx-get="{% url 'core:planning_table' %}"
                                    hx-swap="innerHTML"
                                    hx-trigger="refresh_table from:body,revealed">
                            </div>
                        </div>
                        {% comment %} {% endif %} {% endcomment %}
                    </div>
                </div>
                <!-- Salle Section -->
                <div class="col-sm-6">
                    <div class="card h-100 shadow-sm">
                        <div class="card-header bg-lightblue text-dark align-items-center py-3 "  >
                            <h3 class="card-title ">Salle</h3>
                            <div class="card-toolbar d-flex justify-content-end">
                                {% if perms.salle_activite.add_salle %}
                                <a href="#" class="btn btn-sm  btn-primary btn-radius color-container"
                                    data-bs-toggle="modal"
                                    data-bs-target="#kt_modal"
                                    hx-get="{% url 'core:salle_create_view' %}"
                                    hx-target="#kt_modal_content"
                                    hx-swap="innerHTML">
                                    {% trans 'Ajouter' %}
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% comment %} {% if perms.salle_activite.view_salle %} {% endcomment %}
                        <div class="card-body p-3">
                            <div id="SalleTable" class="table-responsive" hx-get="{% url 'core:salle_table' %}"
                            hx-trigger="refresh_table from:body,revealed" hx-swap="innerHTML">
                            </div>
                        </div>
                        {% comment %} {% endif %} {% endcomment %}
                    </div>
                </div>
            </div>
            <!-- Row 2: Activités and Maladies -->
            <div class="row g-4 mb-4">
                <div class="row g-4 mb-4">
                    <div class="col-sm-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-header bg-lightblue text-dark align-items-center py-3 "  >
                                <h3 class="card-title">Activités</h3>
                                <div class="card-toolbar d-flex justify-content-end">
                                    {% if perms.salle_activite.add_activity %}
                                    <a href="#" class="btn btn-sm  btn-primary btn-radius color-container"
                                       data-bs-toggle="modal"
                                       data-bs-target="#kt_modal"
                                       hx-get="{% url 'core:activite_create_view' %}"
                                       hx-target="#kt_modal_content"
                                       hx-swap="innerHTML">
                                        {% trans 'Ajouter' %}
                                    </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% comment %} {% if perms.salle_activite.view_activity %} {% endcomment %}
                            <div class="card-body p-3">
                                <div id="ActivityTable" class="table-responsive" hx-get="{% url 'core:activity_table' %}"
                                hx-trigger="refresh_table from:body,revealed" hx-swap="innerHTML">
                                </div>
                            </div>
                            {% comment %} {% endif %} {% endcomment %}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card h-100 shadow-sm">
                            <div class="card-header bg-lightblue text-dark align-items-center py-3 "  >
                                <h3 class="card-title">Portes</h3>
                                <div class="card-toolbar d-flex justify-content-end">
                                    {% if perms.salle_activite.add_door %}
                                        <a href="#" class="btn btn-sm  btn-primary btn-radius color-container"
                                        data-bs-toggle="modal"
                                        data-bs-target="#kt_modal"
                                        hx-get="{% url 'core:porte_create_view' %}"
                                        hx-target="#kt_modal_content"
                                        hx-swap="innerHTML">
                                            {% trans 'Ajouter' %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="card-body p-3">
                                <div id="PortesTable" class="table-responsive" hx-get="{% url 'core:portes_table' %}"
                                hx-trigger="refresh_table from:body,revealed" hx-swap="innerHTML">
                                </div>
                            </div>
                        </div>
                    </div>
                   
                </div>
                
                <div class="row g-4 mb-4">
                    <div class="col-sm-4">
                        <div class="card h-100 shadow-sm">
                            <div class="card-header bg-lightblue text-dark align-items-center py-3 "  >
                                <h3 class="card-title">Maladies</h3>
                                <div class="card-toolbar d-flex justify-content-end">
                                    <a href="#" class="btn btn-sm  btn-primary btn-radius color-container"
                                       data-bs-toggle="modal"
                                       data-bs-target="#kt_modal"
                                       hx-get="{% url 'core:maladie_create_view' %}"
                                       hx-target="#kt_modal_content"
                                       hx-swap="innerHTML">
                                        {% trans 'Ajouter' %}
                                    </a>
                                </div>
                            </div>
                            <div class="card-body p-3">
                                <div id="MaladieTable" class="table-responsive" hx-get="{% url 'core:maladie_table' %}"
                                hx-trigger="refresh_table from:body,revealed" hx-swap="innerHTML">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card h-100 shadow-sm">
                                <div class="card-header bg-lightblue text-dark align-items-center py-3 "  >
                                <h3 class="card-title">Type D'abonnement</h3>
                                <div class="card-toolbar d-flex justify-content-end">
                                    {% if perms.abonnement.add_abonnement %}
                                        <a href="#" class="btn btn-sm  btn-primary btn-radius color-container"
                                        data-bs-toggle="modal"
                                        data-bs-target="#kt_modal"
                                        hx-get="{% url 'core:type_abonnement_create_view' %}"
                                        hx-target="#kt_modal_content"
                                        hx-swap="innerHTML">
                                            {% trans 'Ajouter' %}
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                            {% comment %} <div class="">
                            </div> {% endcomment %}
                            <div class="card-body p-3">
                                <form  
                                    hx-get="{% url 'core:abonnemen_table' %}"  
                                    hx-target="#abonnementTable" 
                                    hx-swap="innerHTML" 
                                    hx-trigger="keyup delay:900ms"
                                    hx-push-url='true'
                                    hx-history="false"
                                >  
                                    <div class="card-title">
                                        <div class="d-flex align-items-center position-relative my-1">
                                            <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                                </svg>
                                            </span>
                                            <input type="text" name="search"  data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Recherche...." />
                                        </div>
                                    </div>
                                </form>
                                <div 
                                    id="abonnementTable" 
                                    class="table-responsive"
                                    hx-get="{% url 'core:abonnemen_table' %}"
                                    hx-trigger="refresh_table from:body,revealed"
                                    hx-swap="innerHTML">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
