{% load i18n %}
{% load widget_tweaks %}
{% csrf_token %}

<div class="modal-body scroll-y mx-5 mx-xl-15 mb-7 " >
	<form 
			id="sg_create_store_form" 
			class="form"  
			{% if form.instance.id %}
			hx-post="{% url 'presence:presence_manuelle_update_client' form.instance.id %}" 
			{% else %} hx-post="{% url 'presence:presence_manuelle_client' %}"
			{% endif %}
			hx-target="#kt_modal_content"
			novalidate 
		>
			{% if form.instance.id %}
				<div class="mb-13 text-center">
					<h1 class="mb-3">{% trans "Modification Présence Manuellement" %}</h1>
				</div>
			{% else %}
				<div class="mb-13 text-center">
					<h1 class="mb-3">{% trans "Creation De Présence Manuellement" %}</h1>
				</div>
			{% endif %}

		
		{% with WIDGET_ERROR_CLASS='is-invalid' %}         
			{% for field in form %}
				{% if field|widget_type|slugify == "select" %}
                <div class="{{column_classes}} mb-4 d-flex flex-column mb-8 fv-row">
                    <label class="align-items-center fw-semibold mb-2">
                        <span {% if field.field.required %}class="required"{% endif %}>{{ field.label }}</span>
                        {% include 'fields/select.html' %}
                    </label>
                </div>
				{% else %}
					<div class="d-flex flex-column mb-8 fv-row">
						<label class="d-flex align-items-center fs-6 fw-semibold mb-2">
							<span {%  if field.field.required %}class="required"{% endif %}>{{field.label}}</span>
						</label>
						{% render_field field class='form-control' %}
						{% if field.name == 'hour_sortie' %}
							<button type="button" class="btn btn-sm btn-danger mt-2" onclick="clearHourSortie()">Clear Hour Sortie</button>
						{% endif %}
						{% if field.errors %}
							<span class="form-check-label fw-semibold text-danger">{{field.errors}}</span>
						{% else %}
							{{field.help_text}}
						{% endif %}
					</div>
				{% endif %}
			{% endfor %} 
		{% endwith %}       
		<div class="text-center">   
			<button type="reset" id="sg_create_store_form" class="btn btn-light me-3"   data-bs-dismiss="modal">{% trans "Annulé" %}</button>
			<button type="submit"  class="btn btn-primary"   >{% trans "Confirmer" %}</button>
			{% if form.instance.id %}  
				{% include 'popups/delete_model.html' with object=form.instance %}
			{% endif %}
			{% if form.instance.id %}  
				<a 
					class="btn btn-success"
					href="{% url 'client:client_detail' client.pk %}"
					>{% trans 'Profile Client' %} 
				</a>
			{% endif %}
			
		</div>
	</form>
</div>


<script>
    // JavaScript function to clear the hour_sortie field
    function clearHourSortie() {
        const hourSortieInput = document.querySelector('input[name="hour_sortie"]');
        if (hourSortieInput) {
            hourSortieInput.value = ''; // Clear the value
        }
    }
</script>