{% extends "base.html" %} 
{% load static %}
{% load render_table from django_tables2 %}
{% block content %}
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        
        <div id="kt_app_content" class="app-content">
            <div class="card card-flush">
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">

                    <div class="card-title">
                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                            <span class="card-label fw-bold fs-4 text-grey-800">Présence Automatique</span>
                            <i class=" ki-magnifier fs-3 position-absolute ms-4"></i>
                            
                            <form  >
                           
                                                <input
                                                hx-get='{% url "presence:presence_client" %}' 
                                                hx-trigger="keyup changed delay:900ms"
                                                type="text"
                                                name="search"
                                                class='form-control fw-bold pe-5' 
                                                placeholder='scanner le code a barre ici '
                                                {% comment %} hx-target="#correctionsId" {% endcomment %}
                                                hx-swap="innerHTML"
                                                hx-refresh="true" 
                                                id="barcode-input"
                                                autofocus  />
                            
                        </form>
                            <button type="button" class="btn btn-info" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                <i class=" ki-exit-up fs-2"></i>Présence Manuellement</button> 
                        </div>
                    </div>
                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                            <span class="card-label fw-bold fs-1 text-danger">Total : 0</span>
                        </div>



                        <div class="card-header align-items-center py-5 gap-2 gap-md-5">
                            <div class="card-title">
                                <div class="row g-3 align-items-center">
                                    <div class="col-md-auto">
                                        <label class="form-label card-label fw-bold fs-4 text-grey-800 mb-0">ID Adhérant</label>
                                        <input type="text" class="form-control form-control-solid w-100" data-kt-ecommerce-order-filter="search" placeholder="Rechercher par ID" />
                                    </div>
                        
                                    <div class="col-md-auto">
                                        <label class="form-label card-label fw-bold fs-4 text-grey-800 mb-0">Salle d'activité</label>
                                        <select class="form-select" aria-label="Salle d'activité">
                                            <option selected>Salles</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                        
                                    <div class="col-md-auto">
                                        <label class="form-label card-label fw-bold fs-4 text-grey-800 mb-0">Activité</label>
                                        <select class="form-select" aria-label="Activité">
                                            <option selected>Activités</option>
                                            <option value="1">One</option>
                                            <option value="2">Two</option>
                                            <option value="3">Three</option>
                                        </select>
                                    </div>
                        
                                    <div class="col-md-auto">
                                        <label class="form-label card-label fw-bold fs-4 text-grey-800 mb-0">Date Début</label>
                                        <input type="date" class="form-control" />
                                    </div>
                        
                                    <div class="col-md-auto">
                                        <label class="form-label card-label fw-bold fs-4 text-grey-800 mb-0">Date Fin</label>
                                        <input type="date" class="form-control" />
                                    </div>
                        
                                    <div class="col-md-auto">
                                        <label class="form-label card-label fw-bold fs-4 text-grey-800 mb-0">Heure du créneau</label>
                                        <input type="time" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        


                </div>
                
                <div id="kt_app_content" class="app-content flex-column-fluid fw-bold text-gray-800 fs-5">
					<div id="kt_app_content_container">
						<div class="card card-flush">
							<div class="card-header align-items-center py-5 gap-2 gap-md-5">
								<form  
								hx-get="{{request.path}}"  
								hx-target="#TablePresence" 
								hx-swap="innerHTML" 
								hx-trigger="keyup delay:900ms"
								hx-push-url='true'
							>
								<div class="card-title">
									<div class="d-flex align-items-center position-relative my-1">
										<!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
										<span class="svg-icon svg-icon-1 position-absolute ms-4">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
												<path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
											</svg>
										</span>
										<input type="text" name="search"  data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Recherche...." />
									</div>
								</div>
							</form>
							
							</div>
							<div class="card-body pt-0 table-responsive" id="TablePresence">
								{% render_table table %}
							</div>
						</div>
					</div>
				</div>
            </div>
            
        </div>
    </div>

</div>


{% endblock content %}