{% extends "base.html" %} 
{% load static %}


{% block content %}
<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        
        <div id="kt_app_content" class="app-content">
            <div class="card card-flush">
                <div class="card-header align-items-center py-5 gap-2 gap-md-5">

                    <div class="card-title">
                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                            <span class="card-label fw-bold fs-4 text-grey-800">Présence Automatique</span>
                            <i class=" ki-magnifier fs-3 position-absolute ms-4"></i>
                            
                            
                            <input type="text" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-12" placeholder="ID client" />
                            <button type="button" class="btn btn-success" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                <i class=" ki-exit-up fs-2"></i>Valide</button>
                            <button type="button" class="btn btn-info" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
                                <i class=" ki-exit-up fs-2"></i>Présence Manuellement</button> 
                        </div>
                    </div>
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                        <span class="card-label fw-bold fs-1 text-danger">Total : 0</span>
                    </div>



                    <div class="card-header align-items-center py-5 gap-2 gap-md-5">
					
						
                        <div class="fv-row mb-8">
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="card-label fw-bold fs-2 text-grey-800">Salle d'activité</span>
                        
                                </span>
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Salles</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>


                        <div class="fv-row mb-8">
                            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                                <span class="card-label fw-bold fs-2 text-grey-800">Activité</span>
                        
                                </span>
                            </label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>activitées</option>
                                <option value="1">One _____</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                              </select>
                        </div>


                        <div class="card-toolbar flex-row-fluid justify-content-end gap-5  mb-8">
                    
                            <div class="col-md-5">
                                <span class="card-label fw-bold fs-4 text-grey-800">Date Début</span>
                                <input type="date" class="form-control"  />
                             </div>
                             <div class=" col-md-5">
                                <span class="card-label fw-bold fs-4 text-grey-800">Date Fin</span>
                                <input type="date"  class="form-control"  />
                             </div>
                        
                        </div>
                        <div class="form-group col-md-2  mb-7">
                            <span class="card-label fw-bold fs-4 text-grey-800">Heure du créneau</span>

                            <input type="time" name="start_hour" class="form-control" />
                         </div>

                            
                         <div class="card-title">
							<div class="d-flex align-items-center position-relative my-1">
                                <span class="card-label fw-bold fs-4 text-grey-800">ID Adhérant</span>
								
								<input type="text" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-12 " placeholder="Rechercher par ID" />
                                
							</div>
							
						</div>
                         
						
					</div>


                </div>
                
                <div class="card-body pt-0">
					
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_ecommerce_report_sales_table">
                        <thead>
                            <tr class="text-start text-gray-500 fw-bold fs-7 text-uppercase gs-0">
                                <th class="min-w-75px">ID</th>
                                <th class="text-end min-w-75px">Nom</th>
                                <th class="text-end min-w-75px">Rest AB</th>
                                <th class="text-end min-w-75px">Activité</th>
                                <th class="text-end min-w-100px">Date</th>
                                <th class="text-end min-w-100px">Jour</th>
                                <th class="text-end min-w-100px">Heure d'entrée</th>
                                <th class="text-end min-w-100px">Heure de sortie</th>
                                <th class="text-end min-w-100px">Note</th>
                                <th class="text-end min-w-100px">Dettes</th>
                                
                            </tr>
                        </thead>
                        <tbody class="fw-semibold text-gray-600">
                            <tr>
                                <td>C00102</td>
                                <td class="text-end pe-0">yousra</td>
                                <td class="text-end pe-0">tiourguioe</td>
                                <td class="text-end pe-0">0548253695</td>
                                <td class="text-end">ouled yaich </td>
                                <td class="text-end">Jul 25, 2025</td>
                                <td class="text-end">dettes</td>
                                <td class="text-end">Jul 25, 2025</td>
                                <td class="text-end">dettes</td>
                                <td class="text-end">Jul 25, 2025</td>
                                
                            </tr>    
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </div>

</div>


{% endblock content %}