{% extends "base.html" %} 
{% load static %}
{% load i18n %}
{% block content %}
{% load render_table from django_tables2 %}

		<div class="d-flex flex-column flex-column-fluid">
				<div id="kt_app_content" class="app-content">
					<div class="d-flex flex-column flex-xl-row">
						<div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
							<div class="card mb-5 mb-xl-8">
								<div class="card-body pt-15">
									<div class="d-flex flex-center flex-column mb-5">
								
								    	<div class="symbol symbol-100px symbol-circle mb-7">
											<img src="static/images/avatar/1.png" alt="image" />
			
										</div>
														<a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">{{client.last_name}}  {{client.first_name}}</a>
								
														<div class="fs-5 fw-semibold text-muted mb-6">ID: {{client.id}}</div>
						
													    </div>
										
													<div class="d-flex flex-stack fs-4 py-3">
														<div class="fw-bold rotate collapsible" data-bs-toggle="collapse" href="#kt_customer_view_details" role="button" aria-expanded="false" aria-controls="kt_customer_view_details">Details 
														<span class="ms-2 rotate-180">
															<i class="ki-outline ki-down fs-3"></i>
														</span></div>
															<a  
																href="#" 
																class="btn btn-sm btn-light-primary"
																data-bs-toggle="modal" 
																data-bs-target="#kt_modal"
																data-bs-placement="right" 
																data-bs-toggle="tooltip" 
																hx-target="#kt_modal_content" 
																hx-get="{% url 'client:client_update' client.pk %}"
																hx-swap="innerHTML">
															 Modification</a>
														</span>
													</div>

													<div class="separator separator-dashed my-3"></div>
												
													<div id="kt_customer_view_details" class="collapse show">
														<div class="py-5 fs-6">
													
															<div class="fw-bold mt-5">Téléphone</div>
															<div class="text-gray-600">{{client.phone}}</div>
												
															<div class="fw-bold mt-5">Email</div>
															<div class="text-gray-600">{{client.email}}</div>
															
													
															<div class="fw-bold mt-5">Groupe sanguin</div>
															<div class="text-gray-600">{{client.blood}}</div>
													
															<div class="fw-bold mt-5">Civilité</div>
															<div class="text-gray-600">{{client.civility}}</div>
													
															<div class="fw-bold mt-5">Date de naissance</div>
															<div class="text-gray-600">{{client.birth_date}}</div>
															
															<div class="fw-bold mt-5">Maladies</div>
															<div class="text-gray-600">{{client.maladies}}</div>

															<div class="fw-bold mt-5">Adresse</div>
															<div class="text-gray-600">{{client.adress}}</div>
														
														</div>
													</div>
										
												</div>
							
											</div>
										
										</div>

										<div class="flex-lg-row-fluid ms-lg-15">
											<div class="card-body">
												<div class="card card-flush">
													<div class="card-header align-items-center py-5 gap-2 gap-md-5">
														<div class="card-title">
															<div class="d-flex align-items-center position-relative my-1">
																<h3 class="card-title">Abonnements</h3>
															</div>
															<div id="kt_ecommerce_report_sales_export" class="d-none"></div>
														</div>
														<div class="card-toolbar flex-row-fluid justify-content-end gap-5">
															<button
															type="button"
															class="btn btn-primary btn-sm"
															data-bs-toggle="modal"
															data-bs-target="#kt_modal"
															hx-get="{% url 'abonnement:create_abonnement_client' client.pk %}" 
															hx-target="#kt_modal_content"
															hx-trigger="click"
															hx-swap="innerHTML"
															data-bs-toggle="tooltip"
														>
															<i class="ki-exit-up fs-2">Ajouter Abonnement</i>
														</button>
															
														</div>
													</div>
													<div class="card-scroll h-250px card-body pt-0">
														<div class="nav-link active text-gray-800 fs-5 fw-bold"
															hx-get="{% url 'client:client_detail' client.pk %}"
															hx-trigger="revealed"
															hx-swap="innerHTML"
															hx-target="#AbonnementClientTable"
															data-bs-toggle="tab"
														>
															<div class="card-body pt-0 table-responsive" id="AbonnementClientTable">
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="card-body">
												<div class="card card-flush">
													<div class="card-header align-items-center py-5 gap-2 gap-md-5">
														<div class="card-title">
															<div class="d-flex align-items-center position-relative my-1">
																<h3 class="card-title">Paiements</h3>
															</div>
															<div id="kt_ecommerce_report_sales_export" class="d-none"></div>
														</div>
													
														<div class="card-toolbar flex-row-fluid justify-content-end gap-5">
															<button
																type="button"
																class="btn btn-primary btn-sm"
																data-bs-toggle="modal"
																data-bs-target="#kt_modal"
																hx-get="{% url 'transactions:client_paiement_name' client.pk %}" 
																hx-target="#kt_modal_content"
																hx-trigger="click"
																data-bs-toggle="tooltip" 
																hx-swap="innerHTML"
															>
															<i class="ki-exit-up fs-2">Ajouter Paiement</i>
															</button>

														</div>
													</div>
													<div class="card-scroll h-250px card-body pt-0">
														<div class="nav-link active text-gray-800 fs-5 fw-bold"
															hx-get="{% url 'client:PaiementClientDetail' client.pk %}"
															hx-trigger="revealed"
															hx-swap="innerHTML"
															hx-target="#PaiementsTable"
															data-bs-toggle="tab"
														>
															<div class="card-body pt-0 table-responsive" id="PaiementsTable">
															</div>
														</div>
													</div>
												</div>
											</div>

										<div class="card-body">
												<div class="card card-flush">
													<div class="card-header align-items-center py-5 gap-2 gap-md-5">
														<div class="card-title">
															<div class="d-flex align-items-center position-relative my-1">
																<h3 class="card-title">Seances / Presences</h3>
															</div>
															<div id="kt_ecommerce_report_sales_export" class="d-none"></div>
														</div>
													
														<div class="card-toolbar flex-row-fluid justify-content-end gap-5">
															<button
																type="button"
																class="btn btn-primary btn-sm"
																data-bs-toggle="modal"
																data-bs-target="#kt_modal"
																hx-get="{% url 'transactions:client_paiement_name' client.pk %}" 
																hx-target="#kt_modal_content"
																hx-trigger="click"
																data-bs-toggle="tooltip" 
																hx-swap="innerHTML"
															>
															<i class="ki-exit-up fs-2">Ajouter Seances/Presences</i>
															</button>

														</div>
													</div>
													<div class="card-scroll h-250px card-body pt-0">
														<div class="nav-link active text-gray-800 fs-5 fw-bold"
															hx-get="{% url 'client:PaiementClientDetail' client.pk %}"
															hx-trigger="revealed"
															hx-swap="innerHTML"
															hx-target="#PaiementsTable"
															data-bs-toggle="tab"
														>
															<div class="card-body pt-0 table-responsive" id="PaiementsTable">
															</div>
														</div>
													</div>
												</div>
											</div> 

											


									
								
							
									    </div>
									</div>
				
								</div>
							
							</div>
						</div>
				
					</div>
				
				</div>
			</div>
	
	




{% endblock content %}
