{% extends "base.html" %} 
{% load static %}
{% load i18n %}
{% block content %}
{% load render_table from django_tables2 %}

			<div class="d-flex flex-column flex-column-fluid">
					<div id="kt_app_content" class="app-content">
						<div class="d-flex flex-column flex-xl-row">
							<div class="flex-column flex-lg-row-auto w-100 w-xl-350px mb-10">
								<div class="card mb-5 mb-xl-10">
									<div class="card-body pt-15">
										<div class="d-flex flex-center flex-column mb-5">
											<div class="symbol symbol-100px symbol-circle mb-7">
													<img src="{% static 'images/avatar/1.png' %}"  alt="image" />
												</div>

												<a href="#" class="fs-3 text-gray-800 text-hover-primary fw-bold mb-1">{{coach.last_name}}  {{coach.first_name}}</a>

												<div class="fs-5 fw-semibold text-muted mb-6">ID: {{coach.id}}</div>

											</div>
								
											<div class="d-flex flex-stack fs-4 py-3">
												<div class="fw-bold rotate collapsible" data-bs-toggle="collapse" href="#kt_customer_view_details" role="button" aria-expanded="false" aria-controls="kt_customer_view_details">Details 
												<span class="ms-2 rotate-180">
													<i class="ki-outline ki-down fs-3"></i>
												</span></div>
													<a  
														href="#" 
														class="btn btn-sm btn-light-primary"
														data-bs-toggle="modal" 
														data-bs-target="#kt_modal"
														data-bs-placement="right" 
														data-bs-toggle="tooltip" 
														hx-target="#kt_modal_content" 
														hx-get="{% url 'client:coach_update' coach.pk %}"
														hx-swap="innerHTML">
														Modification</a>
												</span>
												
											</div>

											<div class="separator separator-dashed my-3">
											</div>
										
											<div id="kt_customer_view_details" class="collapse show">
												
												<div class="py-5 fs-6">
											
													<div class="fw-bold mt-5">Téléphone</div>
													<div class="text-gray-600">{{coach.phone}}</div>
										
													<div class="fw-bold mt-5">Email</div>
													<div class="text-gray-600">{{coach.email}}</div>
													
											
													<div class="fw-bold mt-5">Groupe sanguin</div>
													<div class="text-gray-600">{{coach.blood}}</div>
											
													<div class="fw-bold mt-5">Civilité</div>
													<div class="text-gray-600">{{coach.civility}}</div>
											
													<div class="fw-bold mt-5">Date de naissance</div>
													<div class="text-gray-600">{{coach.birth_date}}</div>
													
													<div class="fw-bold mt-5">Salaire par heure</div>
													<div class="text-gray-600">{{coach.pay_per_hour}}</div>

													<div class="fw-bold mt-5">Adresse</div>
													<div class="text-gray-600">{{coach.adress}}</div>
												</div>
											</div>
										</div>
									</div>
								</div>
										<div class="flex-lg-row-fluid ms-lg-15">
											<div class="card-header align-items-center py-5 gap-2 gap-md-1">
												<div class="card-title">
		
													<div class="card-toolbar flex-row-fluid justify-content-end gap-5">
												
														{% if   not coach.get_pending_presence  %}
														<button
															type="button"
															class="btn btn-success btn-sm"
															hx-get="{% url 'client:presence_coach' coach.pk %}"
														>  
														<i class="ki-exit-up fs-2">Entré</i>
														<img src="{% static 'images/enter.png' %}" style="width: 25px; height: 25px; margin-right: 5px;">
														</button>		
														{% else %}
														<button
															type="button"
															class="btn btn btn-danger btn-sm"
															hx-get="{% url 'client:presence_coach' coach.pk %}"
														>
															<i class="ki-exit-up fs-2">Sortié</i>
															<img src="{% static 'images/exit1.png' %}" style="width: 25px; height: 25px; margin-right: 5px;">
														</button>
														{% endif %}
					
														<button
															type="button"
															class="btn btn-primary btn-sm"
															data-bs-toggle="modal"
															data-bs-target="#kt_modal"
															hx-get="{% url 'transactions:Remuneration_Coach_name' %}"
															hx-target="#kt_modal_content"
															hx-trigger="click"
															data-bs-toggle="tooltip" 
															hx-swap="innerHTML"
														>
														<i class="ki-exit-up fs-2">Ajouter Virement</i>
														</button>
														
														<button
															type="button"
															class="btn btn-info btn-sm"
															hx-get="{% url 'transactions:Autre_Transaction_name' %}"
														>
															<i class="ki-exit-up fs-2">Reste du salaire :</i>
														</button>
													</div>
												</div>
											</div>


											<div class="card-body">
												<div class="card card-flush">
													<div class="card-header align-items-center py-5 gap-2 gap-md-5">
														<div class="card-title">
															<div class="d-flex align-items-center position-relative my-1">
																<h3 class="card-title">Seances / Presences</h3>
															</div>
															<div id="kt_ecommerce_report_sales_export" class="d-none"></div>
														</div>
													
														<div class="card-toolbar flex-row-fluid justify-content-end gap-5">
															{% if   not coach.get_pending_presence  %}
															<button
																type="button"
																class="btn btn-success btn-sm"
																hx-get="{% url 'client:presence_coach' coach.pk %}"
															>  
															<i class="ki-exit-up fs-2">Entré</i>
															<img src="{% static 'images/enter.png' %}" style="width: 25px; height: 25px; margin-right: 5px;">
															</button>		
															{% else %}
															<button
																type="button"
																class="btn btn btn-danger btn-sm"
																hx-get="{% url 'client:presence_coach' coach.pk %}"
															>
																<i class="ki-exit-up fs-2">Sortié</i>
																<img src="{% static 'images/exit1.png' %}" style="width: 25px; height: 25px; margin-right: 5px;">
															</button>
															{% endif %}
														</div>
													</div>
													<div class="card-scroll h-250px card-body pt-0">
														<div class="nav-link active text-gray-800 fs-5 fw-bold"
															hx-get="{% url 'client:PresenceCoachDetail' coach.pk %}"
															hx-trigger="revealed"
															hx-swap="innerHTML"
															hx-target="#PresenceTable"
															data-bs-toggle="tab"
														>
															<div class="card-body pt-0 table-responsive" id="PresenceTable">
															</div>
														</div>
													</div>
												</div>
											</div>
					


											<ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bold">
												<li class="nav-item mt-2" role="presentation">
													<a  class="nav-link text-active-primary pb-4 active"
														data-bs-toggle="tab"
														href="#kt_user_view_Creneaux"
														aria-selected="false"
														role="tab"
														tabindex="-1"
														hx-get="{% url 'client:CoachDetail' coach.pk %}"
														hx-swap="innerHTML"
														hx-trigger="refresh_table from:body,click,revealed"
														hx-target="#CreneauxTable"
													>{% trans 'Creneaux' %}</a>
												</li>
											
												<li class="nav-item mt-2" role="presentation">
					
														<a  class="nav-link text-active-primary pb-4"
															data-bs-toggle="tab"
															href="#kt_user_view_Virements" 
															aria-selected="false"
															role="tab"
															tabindex="-1"
															hx-get="{% url 'client:VirementsCoachDetail' coach.pk %}" 
															hx-swap="innerHTML"
															hx-trigger="refresh_table from:body,click"
															hx-target="#VirementsTable"
														>
														{% trans 'Virements' %}</a>
												</li>
												<li class="nav-item mt-2" role="presentation">
													<a  class="nav-link text-active-primary pb-4 "
														data-bs-toggle="tab"
														href="#kt_user_view_Presence"
														aria-selected="false"
														role="tab"
														tabindex="-1"
														hx-get="{% url 'client:PresenceCoachDetail' coach.pk %}"
														hx-swap="innerHTML"
														hx-trigger="refresh_table from:body,click"
														hx-target="#PresenceTable"
													>{% trans 'Seances / Presences' %}</a>
												</li>
										
											</ul>
										
											<div class="d-flex flex-column flex-lg-row">
												<div class="flex-lg-row-fluid ">
													<div class="tab-content" id="myTabContent">
														<!-- Tab Pane 1 -->
														<div class="tab-pane fade active show" id="kt_user_view_Creneaux" role="tabpanel">
															<div id="kt_app_content_container" class="app-container container-xxl">
																<div class="card">
																	<div class="card-header border-0 pt-6">
																		<form hx-get="{{request.path}}" hx-target="#CreneauxTable" hx-swap="innerHTML" hx-trigger="keyup delay:900ms" hx-push-url="true">
																			<div class="card-title">
																				<div class="d-flex align-items-center position-relative my-1">
																					<span class="svg-icon svg-icon-1 position-absolute ms-4">
																						<!-- SVG Icon -->
																					</span>
																					<input type="text" name="search" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Recherche...." />
																				</div>
																			</div>
																		</form>
																	</div>
																	<div class="card-body pt-0 table-responsive" id="CreneauxTable">
																	
																	</div>
																</div>
															</div>
														</div>
														<!-- Tab Pane 2 -->
														<div class="tab-pane fade" id="kt_user_view_Virements" role="tabpanel">
															<div id="kt_app_content_container" class="app-container container-xxl">
																<div class="card">
																	<div class="card-header border-0 pt-6">
																		<form hx-get="{{request.path}}" hx-target="#VirementsTable" hx-swap="innerHTML" hx-trigger="keyup delay:900ms" hx-push-url="true">
																			<div class="card-title">
																				<div class="d-flex align-items-center position-relative my-1">
																					<span class="svg-icon svg-icon-1 position-absolute ms-4">
																						<!-- SVG Icon -->
																					</span>
																					<input type="text" name="search" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Recherche...." />
																				</div>
																			</div>
																		</form>
																	</div>
																	<div class="card-body pt-0 table-responsive" id="VirementsTable">
																		<!-- Virements Table Content -->
																	</div>
																</div>
															</div>
														</div>
														<!-- Tab Pane 3 -->
														<div class="tab-pane fade" id="kt_user_view_Presence" role="tabpanel">
															<div id="kt_app_content_container" class="app-container container-xxl">
																<div class="card">
																	<div class="card-header border-0 pt-6">
																		<form hx-get="{{request.path}}" hx-target="#PresenceTable" hx-swap="innerHTML" hx-trigger="keyup delay:900ms" hx-push-url="true">
																			<div class="card-title">
																				<div class="d-flex align-items-center position-relative my-1">
																					<span class="svg-icon svg-icon-1 position-absolute ms-4">
																						<!-- SVG Icon -->
																					</span>
																					<input type="text" name="search" data-kt-ecommerce-order-filter="search" class="form-control form-control-solid w-250px ps-14" placeholder="Recherche...." />
																				</div>
																			</div>
																		</form>
																	</div>
																	<div class="card-body pt-0 table-responsive" id="PresenceTable">
																		<!-- Presence Table Content -->
																	</div>
																</div>
															</div>
														</div>
													</div>
													
												</div>
											</div>
									
										</div>
								
									</div>
						
								</div>
							
							</div>

	




{% endblock content %}
