
{% extends "base.html" %} 
{% load static %}
{% block content %}
{% load i18n %}
{% load widget_tweaks %}



<div class="app-main flex-column flex-row-fluid" id="kt_app_main">
    <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_content" class="app-content">
            <div class="card card-flush">
                <div class="card-toolbar flex-row-fluid justify-content-end gap-5">                
                        <form                  
                            hx-get="{{request.path}}"  
                            hx-target="#calendarWrapper" 
                            hx-swap="innerHTML" 
                            hx-trigger="change,keyup delay:900ms"
                            hx-push-url='true'
                        >
                            {{ filter.form.planning|add_class:"form-control" }}
                            {{ filter.form.activity|add_class:"form-control" }}
                        </form>
                </div>
                <div id="calendarWrapper" class="card card-flush">
                    {% include "snippets/calender_partial.html" %}               
                </div>
            </div>
        </div>
    </div>
</div>     



{% endblock content %}








{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Calendar</title>
    <!-- FullCalendar CSS -->
  
</head>
<body>
    <div id="calendar"></div>

    <!-- FullCalendar JS -->
    <script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script>

    <!-- fullcalendar bundle -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    
    <!-- the rrule-to-fullcalendar connector. must go AFTER the rrule lib -->
    <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@6.1.15/index.global.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: '/creneaux/events/', // Adjust this URL if necessary
            });

            calendar.render();
        });
    </script>
</body>
</html> {% endcomment %}
