<div id="calendar"></div>
<script>
    function initCalendar(eventsData) {
        var calendarEl = document.getElementById('calendar');
        console.log('IS IT WORKING AFTER HTMX')
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            headerToolbar: {
                left: 'prev,next today', 
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            slotMinTime: '06:00:00',
            slotDuration: '01:00:00',
            events: eventsData,
            eventClick: function(info) {
                info.jsEvent.preventDefault(); 
                var url = info.event.url;
                htmx.ajax('GET', url, {
                    target: '#kt_modal_content', 
                    swap: 'innerHTML', 
                });
                var myModal = new bootstrap.Modal(document.getElementById('kt_modal'));
                myModal.show();
            }
        });
        calendar.render();
    }

    document.addEventListener('DOMContentLoaded', function() {
        initCalendar({{ events|safe }});
    });

    htmx.on('htmx:afterRequest', (e) => {
        initCalendar({{ events|safe }});
    });

    {% comment %}
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('form_id'); 
            form.querySelectorAll('input, select, textarea').forEach(function(element) {
                element.addEventListener('change', function() {
                    form.submit();
                });
            });
        }); 
    {% endcomment %}
</script>