{% load widget_tweaks %}
<div class="card-header align-items-center py-5 gap-2 gap-md-5"  >
    <div class="card-title card-toolbar flex-row-fluid justify-content-end gap-5">
        {% with WIDGET_ERROR_CLASS='my_error' WIDGET_REQUIRED_CLASS='my_required' %}
        <form
                    class="card-toolbar flex-row-fluid justify-content-end gap-5"
                    hx-get="{{target_url}}"
                    hx-target="{{target}}"
                    hx-swap="innerHTML"
                    hx-push-url='true'
                    hx-trigger="change,keyup delay:900ms"
        >
        {% comment %} {{ product_filter.form.as_p }} {% endcomment %}
                    <div class="d-flex align-items-center  position-relative my-1">

                            <span class="svg-icon svg-icon-1 position-absolute ms-4">
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                    <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                </svg>
                            </span>
                           {% render_field render_filter.form.search class="form-control form-control-solid w-250px ps-14" placeholder="Rechercher " %}
                            {% comment %} <input type="text" name="search"  class="form-control form-control-solid w-250px ps-14" placeholder="Search Order" /> {% endcomment %}
                    </div>
        

                    {% url 'transactions:transaction_name' as my_url1%}
                    {% url 'transactions:RemunerationProfTable_name' as my_url2%}
                    {% url 'transactions:RemunerationPersonnelTable_name' as my_url3%}

               {% if request.path == my_url1 or request.path == my_url2 or request.path == my_url3  %}
                    <div class="card-toolbar flex-row-fluid justify-content-end gap-5">
                                    {% for field in render_filter.form %}
                                    {% if field.name != "search" %}
                                        {% render_field field class="form-control form-control-solid w-250px ps-14" placeholder="Search Order"  %}
                                    {% endif %}
                                    {% endfor %} 
                              

                                    <div class="col-md-4">
                                        {% render_field render_filter.form.date_creation_before class="form-control form-control-solid w-250px ps-14"  type="date"  %}
                                    </div>
                    </div>  
                {% endif %}
       
            </form>
        {% endwith %}
    </div>
</div>

