<div class="d-flex align-items-stretch w-100" id="kt_app_header_menu_wrapper">
  <!--begin::Menu holder-->
  <div class="app-header-menu app-header-mobile-drawer align-items-stretch w-20"
       data-kt-drawer="true"
       data-kt-drawer-name="app-header-menu"
       data-kt-drawer-activate="{default: true, lg: false}"
       data-kt-drawer-overlay="true"
       data-kt-drawer-width="{default:'200px', '300px': '250px'}"
       data-kt-drawer-direction="start"
       data-kt-drawer-toggle="#kt_app_header_menu_toggle"
       data-kt-swapper="true"
       data-kt-swapper-mode="prepend"
       data-kt-swapper-parent="{default: '#kt_app_body', lg: '#kt_app_header_menu_wrapper'}">
    
    <!--begin::Menu-->
    <div class="menu menu-rounded menu-column menu-lg-row menu-active-bg menu-title-gray-600 menu-state-dark menu-arrow-gray-400 fw-semibold fs-6 align-items-stretch my-5 my-lg-0 px-2 px-lg-0 w-100"
         id="kt_app_header_menu"
         data-kt-menu="true">
      <nav class="navbar navbar-expand-lg navbar-light w-100">
        
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item mx-3">
              <a href="{% url 'core:index' %}" class="nav-link">
                <span class="nav-title">Tableau de bord</span>
              </a>
            </li>
            {% if perms.transaction.view_transaction %}
              <li class="nav-item mx-3">
                <a href="{% url 'transactions:transaction_name' %}" class="nav-link">
                  <span class="nav-title">Paiements</span>
                </a>
              </li>
            {% endif %}
            {% if perms.client.view_client %}
              <li class="nav-item mx-3">
                  <a href="{% url 'client:client_name' %}" class="nav-link">
                    <span class="nav-title">Clients</span>
                  </a>
              </li>
            {% endif %}
            {% if perms.client.view_coach %}
              <li class="nav-item mx-3">
                <a href="{% url 'client:coach_name' %}" class="nav-link">
                  <span class="nav-title">Coachs</span>
                </a>
              </li>
            {% endif %}
            {% if perms.client.view_personnel %}
              <li class="nav-item mx-3">
                <a href="{% url 'client:personnels_name' %}" class="nav-link">
                  <span class="nav-title">Personnels</span>
                </a>
              </li>
            {% endif %}     
            {% if perms.presence.view_presence %}
                <li class="nav-item mx-3">
                  <a href="{% url 'presence:presences_name' %}" class="nav-link">
                  <span class="nav-title">Présences</span>
                </a>
              </li>
            {% endif %}
            {% if perms.transaction.can_view_statistique %}
                <li class="nav-item mx-3">
                    <a href="{% url 'transactions:chiffre_affaire_name' %}" class="nav-link">
                    <span class="nav-title">Chiffre D'affaire</span>
                  </a>
                </li>
            {% endif %}
            {% if perms.creneau.view_creneau %}
                <li class="nav-item mx-3">
                    <a href="{% url 'creneau:creneaux_name' %}" class="nav-link">
                      <span class="nav-title">Créneaux</span>
                    </a>
                </li>
            {% endif %}
            
             {% if perms.abonnement.view_abonnement %}
              <li class="nav-item mx-3">
                <a href="{% url 'core:planning_table' %}" class="nav-link">
                  <span class="nav-title">Configuration</span>
                  </a>
                </li>
            {% endif %}
            {% if perms.accounts.view_user or perms.auth.view_group %}
              <li class="nav-item dropdown mx-3">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                           Users
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      {% if perms.accounts.view_user %}
                        <li><a class="dropdown-item" href="{% url 'accounts:userlist' %}">Users</a></li>
                      {% endif %}
                      {% if perms.auth.view_group %}
                        <li><a class="dropdown-item" href="{% url 'accounts:grouplist' %}">Role</a></li>
                      {% endif %}
                  </ul>
              </li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </div>
    <!--end::Menu-->
  </div>
  <!--end::Menu holder-->
</div>

<div class="app-navbar flex-shrink-0">
  <div class="app-navbar-item ms-1 ms-md-4" id="kt_header_user_menu_toggle">

    <div class="cursor-pointer symbol symbol-35px" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-attach="parent" data-kt-menu-placement="bottom-end">
      <i class="ki-duotone ki-user " style="font-size: 3em; border: 2px solid gray; border-radius: 50%;  ">
        <span class="path1" style="color: gray;"></span>
        <span class="path2" style="color: gray;"></span>
      </i>							
      </div>
      
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-800 menu-state-bg menu-state-color fw-semibold py-4 fs-6 w-275px" data-kt-menu="true">
      <div class="menu-item px-3">
        <div class="menu-content d-flex align-items-center px-3">
          <div class="symbol symbol-50px me-5">
            {% if user.picture %}
            <img src="{{user.picture}}" alt="image" />
            {% else %}
            <span
              class="symbol-label fs-2x fw-semibold text-primary bg-light-primary"
              >{{ user.get_username|slice:1 }}</span
            >
            {% endif %}												
          </div>
          <div class="d-flex flex-column">
            <div class="fw-bold d-flex align-items-center fs-5">{{user.get_username}}
            <span class="badge badge-light-success fw-bold fs-8 px-2 py-1 ms-2">{{user.role}}</span></div>
            <a href="#" class="fw-semibold text-muted text-hover-primary fs-7">{{user.warehouse}}</a>
          </div>
        </div>
      </div>
      <div class="separator my-2"></div>
      <div class="menu-item px-5">
        <a href="{% url 'accounts:userdetail' user.pk %}" class="menu-link px-5">Profile</a>
      </div>
    
    
      
      <div class="separator my-2"></div>
      <div class="menu-item px-5" data-kt-menu-trigger="{default: 'click', lg: 'hover'}" data-kt-menu-placement="left-start" data-kt-menu-offset="-15px, 0">
        <a href="#" class="menu-link px-5">
          <span class="menu-title position-relative">Mode
          <span class="ms-5 position-absolute translate-middle-y top-50 end-0"></span>
        </span>
        </a>
        <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-title-gray-700 menu-icon-gray-500 menu-active-bg menu-state-color fw-semibold py-4 fs-base w-150px" data-kt-menu="true" data-kt-element="theme-mode-menu">
          <div class="menu-item px-3 my-0">
            <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="light">
              <span class="menu-icon" data-kt-element="icon">
              </span>
              <span class="menu-title">Light</span>
            </a>
          </div>
          <div class="menu-item px-3 my-0">
            <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="dark">
              <span class="menu-icon" data-kt-element="icon">
                <i class="ki-duotone ki-moon fs-2">
                  <span class="path1"></span>
                  <span class="path2"></span>
                </i>
              </span>
              <span class="menu-title">Dark</span>
            </a>
          </div>
          <div class="menu-item px-3 my-0">
            <a href="#" class="menu-link px-3 py-2" data-kt-element="mode" data-kt-value="system">
              <span class="menu-icon" data-kt-element="icon">
        
              </span>
              <span class="menu-title">System</span>
            </a>
          </div>
        </div>
      </div>
      <div class="menu-item px-5">
        <a href="{% url 'accounts:logout' %}" class="menu-link px-5">Sign Out</a>
      </div>
    </div>
  </div>
  <div class="app-navbar-item d-lg-none ms-2 me-n2" title="Show header menu">
    <div class="btn btn-flex btn-icon btn-active-color-primary w-30px h-30px" id="kt_app_header_menu_toggle">
      <i class="ki-duotone ki-element-4 fs-1">
        <span class="path1"></span>
        <span class="path2"></span>
      </i>
    </div>
  </div>
</div>






<div
					id="kt_app_header"
					class="app-header"
					data-kt-sticky="true"
					data-kt-sticky-activate="{default: false, lg: true}"
					data-kt-sticky-name="app-header-sticky"
					data-kt-sticky-offset="{default: false, lg: '300px'}"
					>
					<div
						class="app-container container-fluid d-flex align-items-stretch justify-content-between"
						id="kt_app_header_container"
					>
						<div
							class="d-flex align-items-center justify-content-between flex-row-fluid"
							id="kt_app_header_wrapper" >
							<div class="app-header-logo d-flex align-items-center">
								<div
									class="btn btn-icon btn-color-gray-500 btn-active-color-primary w-35px h-35px ms-n3 me-2 d-flex d-lg-none"
									id="kt_app_sidebar_mobile_toggle" >
									<i class="ki-outline ki-abstract-14 fs-1"></i>
								</div>
							</div>
							{% if perms.presence.add_presence %}
								<form>
									<input
										type="text"
										name="search"
										class='form-control fw-bold pe-5' 
										placeholder='Présence... '
										hx-swap="afterend"
										hx-get='{% url "presence:presence_client" %}' 
										hx-trigger="keyup changed delay:600ms"
										hx-refresh="true" 
										id="barcode-input"
										style="width: 150px;" 
										autofocus  />
								</form>
							{% endif %}
							{% include 'snippets/header.html' %}
							
							<div class="app-navbar flex-shrink-0">
								<div class="app-navbar-item d-flex align-items-center d-lg-none ms-1 me-n3">
									<a href="#"
										class="btn btn-icon btn-color-gray-500 btn-active-color-primary w-35px h-35px"
										id="kt_app_header_menu_toggle"
									>
										<i class="ki-outline ki-text-align-left fs-1"></i>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>