{% load i18n %}


{% if messages %}
{% for message in messages %}
	<div class="toast-container position-fixed top-0 end-0 p-3">
		<div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
			<div class="toast-header">
				{% comment %} <i class="ki-duotone ki-abstract-39 fs-2 text-primary me-3">
					<span class="path1"></span>
					<span class="path2"></span>
				</i> {% endcomment %}
				<strong class="me-auto">{{message.tags}}</strong>
				{% comment %} <small>{{message.tags}}</small> {% endcomment %}
				<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
			<div class="toast-body">
				{{message}}
			</div>
		</div>
	</div>
{% endfor %}
{% endif %}


{% comment %} <div data-toast-container class="toast-container position-fixed top-0 end-0 p-3">
	<div data-toast-template class="toast text-success bg-success" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header bg-success">
			<i class="ki-duotone ki-abstract-39 fs-2 text-primary me-3">
				<span class="path1"></span>
				<span class="path2"></span>
			</i> 
			<strong data-toast-tags class="me-auto"></strong>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div data-toast-body class="toast-body">
		
		</div>
	</div>
</div> {% endcomment %}


{% comment %} <div data-toast-template id="toast-container">
<div data-toast-container class="toast-container position-fixed top-0 end-0 p-3">
	<!-- Toasts will be dynamically injected here -->
	<div data-toast-body class="toast-body">
		
		</div>
</div>
</div> {% endcomment %}

{% comment %} 
<div data-toast-container class="toast-container position-fixed top-0 end-0 p-3">
	<div data-toast-template>
		<div 
			data-toast-tags
			class="toast show align-items-center  border-0" 
		>
			<div class="d-flex" data-toast-container>
				<div data-toast-body class="toast-body">
					Hello, world! This is a toast message.
				</div>
				<button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
			</div>
		</div> 
	</div> 
</div> {% endcomment %}



<div data-toast-container class="toast-container position-fixed top-0 end-0 p-3">
	<div data-toast-template class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div data-toast-header class="toast-header ">
			<i class="ki-solid ki-abstract-9 fs-2x"></i>
			<strong data-toast-tags class="me-auto"></strong>
			<small>{{message.tags}}</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div data-toast-body class="toast-body">
		</div>
	</div>
</div>
