{% load static %}
<div id="kt_aside" class="aside overflow-visible pb-5 pt-5 pt-lg-0" data-kt-drawer="true" data-kt-drawer-name="aside" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'80px', '300px': '100px'}" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_aside_mobile_toggle">
	<div class="aside-logo py-8" id="kt_aside_logo">
		<a href="#" class="d-flex align-items-center">
			<img alt="Logo" src="{% static 'images/white-logo.png' %}" class="h-45px logo" />
		</a>
	</div>
	<div class="aside-menu flex-column-fluid" id="kt_aside_menu">
		<div class="hover-scroll-y my-2 my-lg-5 scroll-ms" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu" data-kt-scroll-offset="5px">
			<div class="menu menu-column menu-title-gray-700 menu-state-title-primary menu-state-icon-primary menu-state-bullet-primary menu-arrow-gray-500 fw-semibold" id="#kt_aside_menu" data-kt-menu="true">
				{% if perms.transaction.can_view_statistique %}
					<div class="menu-item here show py-2">
						<a href="{% url 'core:index' %}" class="menu-link menu-center" >
							<span class="menu-icon me-0">
								<i class="ki-outline ki-home-2 fs-2x"></i>
							</span>
							<span class="menu-title">Home</span>
						</a>
					</div>
				{% endif %}
			{% if perms.transaction.view_transaction %}
				<div class="menu-item  here show py-2">
					<a href="{% url 'transactions:transaction_name' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-dollar fs-2x"></i>
						</span>
						<span class="menu-title">Paiements</span>
					</a>
				</div>
			{% endif %}
			{% if perms.client.view_client %}
				<div class="menu-item here show py-2">
					<a href="{% url 'client:client_name' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-user fs-2x"></i>
						</span>
						<span class="menu-title">Clients</span>
					</a>
				</div>
			{% endif %}
			{% if perms.abonnement.view_abonnementclient %}
				<div class="menu-item here show py-2">
					<a href="{% url 'abonnement:abonnement_client' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-people fs-2x"></i>
						</span>
						<span class="menu-title">Abonnements</span>
					</a>
				</div>
			{% endif %}
			{% if perms.client.view_coach %}
				<div class="menu-item here show py-2">
					<a href="{% url 'client:coach_name' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-medal-star fs-2x"></i>
						</span>
						<span class="menu-title">Coachs</span>
					</a>
				</div>
			{% endif %}
			{% if perms.client.view_personnel %}
				<div class="menu-item here show py-2">
					<a href="{% url 'client:personnels_name' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-user-tick fs-2x"></i>
						</span>
						<span class="menu-title">Personnels</span>
					</a>
				</div>
			{% endif %}
			{% if perms.presence.view_presence %}
				<div class="menu-item here show py-2">
					<a href="{% url 'presence:presences_name' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-timer fs-2x"></i>
						</span>
						<span class="menu-title">Présences</span>
					</a>
				</div>
			{% endif %}
			{% if perms.transaction.can_view_statistique %}
				<div class="menu-item here show py-2">
					<a href="{% url 'transactions:chiffre_affaire_name' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-financial-schedule fs-2x"></i>
						</span>
						<span class="menu-title">Statistiques</span>
					</a>
				</div>
			{% endif %}
			{% if perms.creneau.view_creneau %}
				<div class="menu-item here show py-2">
					<a href="{% url 'creneau:creneaux_name' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-calendar fs-2x"></i>
						</span>
						<span class="menu-title">Créneaux</span>
					</a>
				</div>
			{% endif %}
			{% if perms.abonnement.view_abonnement %}
				<div class="menu-item here show py-2">
					<a href="{% url 'core:planning_table' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-setting-3 fs-2x"></i>
						</span>
						<span class="menu-title">Config</span>
					</a>
				</div>
			{% endif %}
			{% comment %} {% if perms.accounts.view_user %}
				<div class="menu-item here show py-2">
					<a href="{% url '' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-user fs-2x"></i>
						</span>
						<span class="menu-title">Users</span>
					</a>
				</div>
			{% endif %}
			{% if perms.auth.view_group %}
				<div class="menu-item here show py-2">
					<a href="{% url '' %}" class="menu-link menu-center">
						<span class="menu-icon me-0">
							<i class="ki-outline ki-lock fs-2x"></i>
						</span>
						<span class="menu-title">Role</span>
					</a>
				</div>
			{% endif %} {% endcomment %}
			</div>
		</div>
	</div>
</div>