{% comment %} {% load static %}

<script>
  $(function() {
      $('[data-toggle="popover"]').popover();
  });
</script>

<ul class="nav flex-column w-lg-100" id="kt_app_sidebar_nav">
    <!--begin::Nav item-->
    <li class="nav-item mb-2">
      <!--begin::Nav link-->
      <a
        class="nav-link btn btn-icon btn-active-info btn-color-gray-600"
        data-bs-toggle="tab"
        title="Clients" 
        data-toggle="popover"
        data-trigger="hover"
        href="#"
      >
      <img src= "{% static 'images/icons/people.png' %}" class="w-35px" alt="" />

        
      </a>
      <!--end::Nav link-->
    </li>
    <!--end::Nav item-->
    <!--begin::Nav item-->
    <li class="nav-item mb-2">
      <!--begin::Nav link-->
      <a
        class="nav-link btn btn-icon btn-active-info btn-color-gray-600"
        data-bs-toggle="tab"
        title="Transaction" 
        data-toggle="popover"
        data-trigger="hover"
        href="#"
      >
      <img src= "{% static 'images/icons/transaction.png' %}"class="w-35px" alt="" />

      </a>
      <!--end::Nav link-->
    </li>
    <!--end::Nav item-->
    <!--begin::Nav item-->
    <li class="nav-item mb-2">
      <!--begin::Nav link-->
      <a
        class="nav-link btn btn-icon btn-active-info btn-color-gray-600 active"
        data-bs-toggle="tab"
        title="Calandar" 
        data-toggle="popover"
        data-trigger="hover"
        href="#"
      >
      <img src="{% static 'images/icons/calendar.png' %}" class="w-35px" alt="" />
      </a>
      <!--end::Nav link-->
    </li>
    <!--end::Nav item-->
    <!--begin::Nav item-->
    <li class="nav-item mb-2">
      <!--begin::Nav link-->
      <a
        class="nav-link btn btn-icon btn-active-info btn-color-gray-600"
        data-bs-toggle="tab"
        title="Attendance" 
        data-toggle="popover"
        data-trigger="hover"
        href="#"
      >
      <img src= "{% static 'images/icons/attendance.png' %}" class="w-35px" alt="" />
      </a>
      <!--end::Nav link-->
    </li>
    <!--end::Nav item-->
    <!--begin::Nav item-->
    <li class="nav-item mb-2">
      <!--begin::Nav link-->
      <a
        class="nav-link btn btn-icon btn-active-info btn-color-gray-600"
        data-bs-toggle="tab"
        title="Coach" 
        data-toggle="popover"
        data-trigger="hover"
        href="#"
      >
      <img src= "{% static 'images/icons/coach.png' %}" class="w-35px" alt="" />
      </a>
      <!--end::Nav link-->
    </li>
    <!--end::Nav item-->
    <!--begin::Nav item-->
    <li class="nav-item mb-2">
      <!--begin::Nav link-->
      <a
        class="nav-link btn btn-icon btn-active-info btn-color-gray-600"
        data-bs-toggle="tab"
        title="utilisateur" 
        data-toggle="popover"
        data-trigger="hover"
        href="#"
      >
      <img src= "{% static 'images/icons/user.png' %}" class="w-35px" alt="" />
      </a>
      <!--end::Nav link-->
    </li>
    <!--end::Nav item-->
    <!--begin::Nav item-->
    <li class="nav-item mb-2">
      <!--begin::Nav link-->
      <a
        class="nav-link btn btn-icon btn-active-info btn-color-gray-600"
        data-bs-toggle="tab"
        title="Configuration" 
        data-toggle="popover"
        data-trigger="hover" 
        href="#"
      >
      <img src="{% static 'images/icons/setting.png' %}" class="w-35px" alt="" />
      </a>
      <!--end::Nav link-->
      
      
    
    </li>

   
 

    <!--end::Nav item-->
    <!--begin::Nav item-->
 
    <!--end::Nav item-->
  </ul> {% endcomment %}