{% comment %} {% load i18n %}
{% load widget_tweaks %}
<div id="calendarWrapper" class="card-body p-0">
    <div class="container-fluid">
        <div id="eventsId" data-events='{{events}}'></div>
        <div class="row mb-3">
            <div class="col-md-12 d-flex justify-content-between">
                <div>
                    <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                        <span class="card-label fw-bold fs-2 text-grey-800">Début Date</span>
                    </label>
                    <input type="date" name="debut_date" class="form-control" id="debut_date" />
                </div>
                <div class="align-self-end">
                    <button
                        id="add-abonnement-btn"
                        type="button"
                        class="btn btn-primary btn-sm"
                        hx-post="{% url 'abonnement:add_abonnement_client' client_pk=client.pk %}" 
                        hx-trigger="click"
                    >
                        <i class="ki-exit-up fs-2">Confirmer</i>
                    </button>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12">
                <div id="calendar" style="width: 100%;"></div>
            </div>
        </div>
    </div>
    
</div>
 {% endcomment %}
