/* .MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]
{
    padding: 0;
    border-radius: 0;
    background: #fff;
    border: 1px solid #222324;
    color: #6e6e6e;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]:focus
{
    color: #495057;
    background-color: #fff;
    border-color: #a66ded;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgb(100 24 195 / 25%);
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]:hover,
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"]:focus,
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon .MuiAutocomplete-inputRoot[class*="MuiOutlinedInput-root"].active {
    box-shadow: none;
    background: #fff;
    color: #6e6e6e;
} */