{% load i18n %}
{% load widget_tweaks %}
{% csrf_token %}

<div class="row">
    <div class="col-md-9">
        <!-- Calendar will be here -->
        <div id="calendar"></div>
    </div>
    <div class="col-md-3">
        <!-- Sidebar for selected events -->
        <div class="form-group">
            <label class="d-flex align-items-center fs-6 fw-semibold mb-2">
                <span class="card-label fw-bold fs-2 text-grey-800">Début Date</span>
            </label>
            <input type="date" name="debut_date" class="form-control" id="debut_date" />
        </div>
   
         <button
            id="add-abonnement-btn"
            type="button"
            class="btn btn-primary btn-sm"
            hx-post="{% url 'abonnement:add_abonnement_client' client_pk='C0001' %}" 
            hx-trigger="click"
           
        >
            <i class="ki-exit-up fs-2">Ajouter Abonnement</i>
        </button>
    </div>
</div>
    
    <script>   
        var selectedEvents = [];
        var typeAbonnement = "{{ type_abonnement|escapejs }}"; // Ensure type_abonnement is safely escaped for JS
    
        function initCalendar(eventsData) {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'timeGridWeek', // Set the initial view to one week
                headerToolbar: {
                    left: 'prev,next today',
                    center: 'title',
                    right: '' // Disable other views to enforce the one-week display
                },
                slotMinTime: '06:00:00',
                slotDuration: '01:00:00',
                events: eventsData,
                selectable: true,
                eventClick: function(info) {
                    info.jsEvent.preventDefault();
    
                    var selectedEvent = {
                        event_pk: info.event.extendedProps.pk_event,
                        title: info.event.title,
                        startTime: info.event.start.toISOString(),
                        endTime: info.event.end.toISOString(),
                        url: info.event.url
                    };
                    var index = selectedEvents.findIndex(event => event.url === selectedEvent.url);
    
                    if (index === -1) {
                        selectedEvents.push(selectedEvent);
                        info.el.classList.add('selected-event'); // Add shadow to the selected event
                    } else {
                        selectedEvents.splice(index, 1);
                        info.el.classList.remove('selected-event'); // Remove shadow from the deselected event
                    }
                    updateSidebar(selectedEvents); // Update the sidebar with the selected events
                }
            });
            calendar.render();
        }
    
        function updateSidebar(selectedEvents) {
            var addAbonnementBtn = document.getElementById('add-abonnement-btn');
            if (selectedEvents.length > 0) {
                var eventPks = selectedEvents.map(event => event.event_pk); 
                var today = document.getElementById('debut_date').value; // Get the selected date

                addAbonnementBtn.setAttribute('hx-vals', JSON.stringify({
                    'event_pk': eventPks,
                    'type_abonnement': typeAbonnement ,
                    'today':today 
                }));
            } else {
                addAbonnementBtn.removeAttribute('hx-vals');
            }
        }

document.addEventListener('DOMContentLoaded', function() {
    initCalendar({{ events|safe }});

    var today = new Date();
        var formattedDate = today.toISOString().split('T')[0];
        document.getElementById('debut_date').value = formattedDate;

    const form = document.getElementById('form_id'); // Replace 'yourFormId' with the actual ID of your form
        form.querySelectorAll('input, select, textarea').forEach(function(element) {
            element.addEventListener('change', function() {
                form.submit();
            });
        });
    });


</script>