@media print {
    
    .css-ohyacs {
        /* margin: 0px; */
        font-family: Arial, sans-serif;
        font-weight: 500!important;
        font-size: 3.25rem;
        line-height: 1.6;
        letter-spacing: 0.0075em;
        padding: 16px 24px;
        color: #000!important;
        flex: 0 0 auto;
    }
}