{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<base href="" />
		<title>gym </title>
		<meta charset="utf-8" />
		<meta name="description" content="La solution de gestion de gym la plus avancée développée par Octopus Consulting. Gérez vos membres, cours, et paiements facilement avec notre application intuitive et performante."/>
		<meta property="og:title" content="Octopus Consulting - Application de gestion de gym"/>
		<meta property="og:site_name" content="Octopus Consulting"/>
		<meta property="og:description" content="La solution de gestion de gym la plus avancée développée par Octopus Consulting. Gérez vos membres, cours, et paiements facilement avec notre application intuitive et performante."/>
		<meta name="keywords" content="gym management, gym software, Octopus Consulting, member management, course management, payment management, fitness, health, gym application, intuitive gym software, advanced gym solution"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="fr_FR" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Octopus Consulting - Application de gestion de gym" />
		<meta property="og:url" content="https://octopus-consulting.com" />
		<meta property="og:site_name" content="Octopus Consulting" />
		<link rel="canonical" href="https://octopus-consulting.com" />
		<link rel="shortcut icon" href="media/logos/favicon.ico" />
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700"/>
		<link href="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'plugins/global/plugins.bundle.css' %}" rel="stylesheet" type="text/css"/>
		<link href="{% static 'css/style.bundle.css' %}" rel="stylesheet" type="text/css" />
		<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
		<script src="{% static 'js/htmx.min.js' %}"></script>

		{% comment %} <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script> {% endcomment %}
	</head>

	<body id="kt_body" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="header-fixed header-tablet-and-mobile-fixed toolbar-enabled toolbar-fixed aside-enabled aside-fixed">
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-bs-theme-mode")) { themeMode = document.documentElement.getAttribute("data-bs-theme-mode"); } else { if ( localStorage.getItem("data-bs-theme") !== null ) { themeMode = localStorage.getItem("data-bs-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-bs-theme", themeMode); }</script>
		<div class="d-flex flex-column flex-root">
			<div class="page d-flex flex-row flex-column-fluid">
				{% include 'snippets/sidebar.html' %}
				<div class="wrapper d-flex flex-column flex-row-fluid py-17" id="kt_wrapper">
					{% include 'snippets/header.html' %}
					{% comment %} <div class="toolbar py-2" id="kt_toolbar">
						<div id="kt_toolbar_container" class="container-fluid d-flex align-items-center">
							<div class="flex-grow-1 flex-shrink-0 me-5">
								<div data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_content_container', 'lg': '#kt_toolbar_container'}" class="page-title d-flex align-items-center flex-wrap me-3 mb-5 mb-lg-0   ">
									<h1 class="d-flex align-items-center text-gray-900 fw-bold my-1 fs-3">Dashboard 
									<span class="h-20px border-gray-200 border-start ms-3 mx-2"></span>
									<small class="text-muted fs-7 fw-semibold my-1 ms-1">#XRS-45670</small>
								</div>
							</div>
							<div class="d-flex align-items-center flex-wrap">
								<div class="flex-shrink-0 me-2">
									
								</div>
								<div class="d-flex align-items-center">
									<a href="#" class="btn btn-sm btn-bg-light btn-color-gray-500 btn-active-color-primary me-2" id="kt_dashboard_daterangepicker" data-bs-toggle="tooltip" data-bs-dismiss="click" data-bs-trigger="hover" title="Select dashboard daterange">
										<span class="fw-semibold me-1" id="kt_dashboard_daterangepicker_title">Range:</span>
										<span class="fw-bold" id="kt_dashboard_daterangepicker_date">November 19</span>
									</a>
									<div class="d-flex align-items-center me-n2 me-lg-0">
										<button type="button" class="btn btn-sm btn-icon btn-color-primary btn-active-light btn-active-color-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_create_campaign">
											<i class="ki-outline ki-plus-square fs-2"></i>
										</button>
									</div>
								</div>
							</div>
						</div>
					</div> {% endcomment %}
					<div class="container-fluid content d-flex flex-column flex-column-fluid m-5" id="kt_content">
						{% block content %}
						{% endblock content %}
					</div>
					<div class="footer py-4 d-flex flex-lg-column" id="kt_footer">
						<div class="container-fluid d-flex flex-column flex-md-row align-items-center justify-content-between">
							<div class="text-gray-900 order-2 order-md-1">
								<span class="text-muted fw-semibold me-1">{{ current_year }}&copy;</span>
								<script>
									document.addEventListener('DOMContentLoaded', function() {
										const yearSpan = document.querySelector('.text-muted.fw-semibold.me-1');
										const currentYear = new Date().getFullYear();
										yearSpan.textContent = `${currentYear}©`;
									});
								</script>
								<a href="https://octopus-consulting.com" target="_blank" class="text-gray-800 text-hover-primary">Octopus Consulting</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% include "snippets/messages.html" %}

		<div
			class="modal fade"
			id="kt_modal_view_users"
			tabindex="-1"
			aria-hidden="true"
		>
		</div>
		<div
			class="modal fade"
			id="kt_modal_users_search"
			tabindex="-1"
			aria-hidden="true"
		>
		</div>
		<div class="modal fade" tabindex="-1" id="delete_modal" >
			<div class="modal-dialog modal-sm" id="delete_modal_body">
			</div> 
		</div>  
		{% include 'snippets/modal.html' %}
		<script>
			setTimeout(function(){
				if($('#msg').length >0){
					$('#msg').remove();
				}
			},4000)
			var hostUrl = "";
		</script>
		<script src="{% static 'plugins/global/plugins.bundle.js' %}"></script>
		<script src="{% static 'js/scripts.bundle.js' %}"></script>
		{% comment %} <script src="{% static 'plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script> {% endcomment %}
		<script src="https://cdn.amcharts.com/lib/5/index.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/xy.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/percent.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/radar.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/themes/Animated.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/map.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/continentsLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/usaLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZonesLow.js"></script>
		<script src="https://cdn.amcharts.com/lib/5/geodata/worldTimeZoneAreasLow.js"></script>
		<script src="{% static 'plugins/custom/datatables/datatables.bundle.js' %}"></script>
		{% comment %} <script src='https://cdn.jsdelivr.net/npm/rrule@2.6.4/dist/es5/rrule.min.js'></script> {% endcomment %}
		{% comment %} <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script> {% endcomment %}
		{% comment %} <script src='https://cdn.jsdelivr.net/npm/@fullcalendar/rrule@6.1.15/index.global.min.js'></script> {% endcomment %}
		<script src="{% static 'js/fullcalendar.global.min.js' %}"></script>
		<script src="{% static 'js/widgets.bundle.js' %}"></script>
		<script src="{% static 'js/custom/widgets.js' %}"></script>
		<script src="{% static 'js/custom/apps/chat/chat.js' %}"></script>
		<script src="{% static 'js/custom/utilities/modals/upgrade-plan.js' %}"></script>
		<script src="{% static 'js/custom/utilities/modals/create-campaign.js' %}"></script>
		<script src="{% static 'js/custom/utilities/modals/users-search.js' %}"></script>
		<script src="{% static 'js/custom_calendar.js' %}"></script>
		<script src="{% static 'js/script.js' %}"></script>
		<script src="{% static 'js/toast.js' %}"></script>
	</body>
</html>
