
/* Progress bar */
/* .table {

    border-radius: 8px;
    background-clip: padding-box;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    background-color: #b0f5ec;
    font-family: sans-serif;
}
.th {
    background-color: #db5000;
 
  }
 */




  

