
/* Progress bar */
/* .table {

    border-radius: 8px;
    background-clip: padding-box;
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    background-color: #b0f5ec;
    font-family: sans-serif;
}
.th {
    background-color: #db5000;
 
  }
 */


 .custom-text {
    text-align: center;
    font-weight: bold;
  }


  .salary-display {
    background-color: #ca4230;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.salary-display i {
    font-size: 1.5rem;
}

.salary-display span {
    font-size: 1rem;
}

.salary-display .fw-bold {
    font-size: 1.2rem;
}

.selected-event {
    background-color: #f74d0a !important; /* Highlight color */
    border-color: #21011a !important; /* Border color */
    border-radius: 5px;
    
    border-style: solid;
    border-width: 5px;
}
  

.htmx-indicator{
    opacity:0;
    transition: opacity 700ms ease-in;
}
.htmx-request .htmx-indicator{
    opacity:1;
}
.htmx-request.htmx-indicator{
    opacity:1;
}